* {
	box-sizing: border-box;
	font-family: arial;
}
html,
body {
	margin: 0;
}
body,
.page-wrap {
	height: 100vh;
}
.page-wrap {
	display: flex;
	flex-direction: column;
}

header {
	color: #fff;
	background-color: #9d0a0e;
    margin-bottom: 20px;

	.settings-bar {
		width: 100%;
		text-align: right;
		padding: 5px 10px;
		font-size: 22px;
	}
	.button-close {
		display: none;
	}
	&.options-open {
		.button-open {
			display: none;
		}
		.button-close {
			display: block;
		}
	}

	.options-wrap {
		display: none;

		.dice-bag {
		    padding: 10px;
		    overflow: hidden;
	        display: flex;
		    flex-wrap: wrap;
			
			.add-wrap {
				padding: 5px;
			}

			.add {
			    width: 50px;
			    height: 50px;
			    float: left;
			    border: 1px solid #fff;
			    border-radius: 10px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    -webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
		        user-select: none;
			    cursor: pointer;
			}
		}
		.other-options {
		    display: flex;
		    padding: 10px;

		    > div {
		    	flex: 1;
		    	padding: 10px;

		    	> div {
	    		    border: 2px solid #fff;
				    border-radius: 10px;
				    text-align: center;
				    padding: 10px;
				    width: 100%;
				    display: block;
		    	}
		    }
		}
	}
}
.main {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
	overflow: scroll;

	.die-wrap {
	    width: calc(100% / 4);
	    height: 0;
	    padding-bottom: calc(100% / 4);
	    position: relative;

		div[class^="die-"] {
		    font-size: 20px;
		    color: #000;
		    cursor: pointer;
		    position: absolute;
		    background-size: contain;
		    background-position: center;
		    top: 4px;
		    right: 4px;
		    bottom: 4px;
		    left: 4px;
		    text-shadow: 0px 0px 3px #fff;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    -webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
	        user-select: none;
		}
		.die-d4 {
			background: url('images/d4.jpg');
		}
		.die-d6 {
			background: url('images/d6.jpg');
		}
		.die-d8 {
			background: url('images/d8.jpg');
		    padding-top: 4px;
		}
		.die-d10 {
			background: url('images/d10.jpg');
			padding-top: 14px;
		}
		.die-d12 {
			background: url('images/d12.jpg');
		}
		.die-d20 {
			background: url('images/d20.jpg');
		}
		.die-d120 {
			border: 3px solid #000;
			border-radius: 50%;
		}
	}

}
footer {
    min-height: 50px;
    font-size: 18px;
    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;

    > div {
		flex: 1;
    }
    .roll-all {
		border: 2px solid #fff;
	    border-radius: 10px;
	    text-align: center;
	    padding: 10px;
	    width: 100%;
	    display: block;
    }
}
