* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html,
body {
	margin: 0;
}
body,
.page-wrap {
	height: 100vh;
}
h3 {
	width: 100%;
    margin: 0 0 10px 5px;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}
.page-wrap {
	display: flex;
	flex-direction: column;
}
.button {
	border: 1px solid #fff;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	width: 100%;
	max-width: 200px;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

// Breakpoints
$break-s: 340px;
$break-m: 390px;
$break-l: 992px;
$break-xl: 1200px;

@mixin square($side) {
    width: $side;
    padding-bottom: $side;
}

header {
	color: #fff;
	background-color: #9d0a0e;

	.accordion-button {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: pointer;

		.fa {
			padding-left: 4px;
		}
	}
	.settings-bar {
		width: 100%;
		text-align: right;
		padding: 5px 10px;
		font-size: 22px;
	}
	.button-open {
		display: block;
		cursor: pointer;
	}
	.button-close {
		display: none;
		cursor: pointer;
	}
	&.options-open {
		.button-open {
			display: none;
		}
		.button-close {
			display: block;
		}
	}

	.options-wrap {
		display: none;
		padding: 0 5px;

		.accordion-wrap {
	    	&.collapsed {
	    		.fa-minus {
	    			display: none;
	    		}
			}
			&.expanded {
	    		.fa-plus {
	    			display: none;
	    		}
			}

		}

		.dice-bag {
	        display: flex;
		    flex-wrap: wrap;
		    margin-bottom: 16px;
		    overflow: hidden;

			.add-wrap {
				padding: 5px;
			}
			.add {
			    width: 50px;
			    height: 50px;
			    float: left;
			    border: 1px solid #fff;
			    border-radius: 10px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    -webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
		        user-select: none;
			    cursor: pointer;
			}
		}
		.other-options,
		.more-dice,
		.dice-sets {
		    display: flex;
		    flex-wrap: wrap;
		    margin-bottom: 16px;

			.add {
				border: 1px solid #fff;
			    border-radius: 10px;
			    text-align: center;
			    padding: 10px;
			    -webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
		        user-select: none;
			    cursor: pointer;
			}
		    > div {
		    	padding: 5px;
		    }
		}
		.accordion-content {
			display: none;
		}
		.remove-all {
		    margin-top: 4px;
		}
	}
}
.main {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
	padding-top: 20px;
	overflow: scroll;

	.die-wrap {
	    height: 0;
	    position: relative;
	    @include square(calc(100% / 4));

	    @media (min-width: $break-s) { 
			@include square(calc(100% / 5));
		}
		@media (min-width: $break-m) { 
			@include square(70px);
		}

		div[class^="die-"] {
		    font-size: 20px;
		    color: #000;
		    position: absolute;
		    background-size: contain;
		    background-position: center;
		    top: 4px;
		    right: 4px;
		    bottom: 4px;
		    left: 4px;
		    text-shadow: 0px 0px 3px #fff;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    -webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
	        user-select: none;
	        cursor: pointer;
		}
		.die-d4 {
			background: url('images/d4.jpg');
		}
		.die-d6,
		.die-betrayal-d3 {
			background: url('images/d6.jpg');
		}
		.die-d8 {
			background: url('images/d8.jpg');
		    padding-top: 4px;
		}
		.die-d10,
		.die-d10p {
			background: url('images/d10.jpg');
			padding-top: 14px;
		}
		.die-d12 {
			background: url('images/d12.jpg');
		}
		.die-d20 {
			background: url('images/d20.jpg');
		}
		.die-d100,
		.die-d120 {
			border: 3px solid #000;
			border-radius: 50%;
		}
	}
	.welcome-message {
	    display: flex;
	    width: 100%;
	    text-transform: uppercase;
	    justify-content: center;
	    align-items: center;
	    padding-bottom: 80px;

	    span {
	    	color: #b22222;
	    	font-size: 30px;
		    font-weight: 700;
	    	padding: 10px 20px;
		    border: 4px solid #b22222;
		    border-radius: 10px;
		    cursor: pointer;
	    }
	}

}
footer {
    min-height: 50px;
    font-size: 18px;
    background-color: #363636;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;

	.roll-all {
		float: right;
	}
    > div {
		flex: 1;
    }
}
